/* block-content */
.content-info {
    padding: 2.5% 2% 10% 2%;
}
.content-left {
    flex: 1;
}
.content-right {
    flex: 1;
    position: relative;
}

.potential-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1vh;
    height: 75.5vh;
    /* background-color: #fff; */
    overflow-y: auto;
}
.potential-item {
    position: relative;
    margin-right: 0.5vw;
    margin-bottom: 1vh;
    width: 14vw;
    height: 18.5vw;
    border: 1px solid #aeada8;
}
.potential-gooditem {
    border: 1px solid #da8753;
}
.potential-bestitem {
    border: 1px solid #a25eb3;
}
.potential-item-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3b2b2b;
}
.potential-item-content {
    position: absolute;
    top: 1vh;
    right: 0.4vw;
    bottom: 1vh;
    left: 0.4vw;
    background-color: #bbb;   
    z-index: 1000;
}
.potential-item-figure {
    position: relative;
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid #7a7a7a;
}
.potential-item-figure img{
    width: 12.5vw;
    height: 15vw;
    background-color: #bbb;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
}
.potential-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
}
.potential-item-icon {}
.potential-item-text {
    margin-left: 0.2rem; 
    font-size: 0.6rem;
    font-weight: 700;
}
.potential-detail-desc {
    margin-left: 1vw;
}
.potential-disable .potential-item-text  {
    color: #858585;
}
.potential-content {
    position: relative;
}
.potential-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 70vh;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}
.potential-detail {
    position: absolute;
    top: 1.5vh;
    left: 1.5vh;
    right: 0;
    height: 68.5vh;
    overflow-y: auto;
    color: #fff;
    font-size: 0.6rem;
    z-index: 11;
}
.potential-detail-text {}
.text-fixed {}
.text-change {}
.text-talent {
    margin-bottom: 0.5rem;
}
.btn-talent-add{
    /* width: 9vw; */
    height: 1rem;
    border: 1px solid #beab83;
    background-color: #242625;
    color: #e0bb63;
    font-size: 0.6rem;
}
.btn-talent-remove{
    /* width: 9vw; */
    height: 1rem;
    border: 1px solid #56534e;
    background-color: #2e302f;
    color: #fff;
}
.potential-whiteplace {
    height: 4vh;
}
.potential-condition {
    position: absolute;
    top: 70vh;
    text-shadow: 0.5px 0 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000, 0 -0.5px 0 #000;
    color: #fff;
    font-size: 0.6rem;
}
.btn-switch {
    position: absolute;
    top: 74vh;
    right: 0;
    width: 8.5vw;
    height: 1.5rem;
    border: 1px solid #beab83;
    background-color: #242625;
    color: #e0bb63;
    font-size: 0.6rem;
}
.btn-switch-disable {
    border: 2px solid #56534e;
    background-color: #2e302f;
    color: #fff;
    opacity: 0.6;
}


/* icon */
.icon-atk {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(../../static/icon/atk.png);
    background-size: cover;
}
.icon-def {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(../../static/icon/def.png);
    background-size: cover;
}
.icon-spe {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(../../static/icon/spe.png);
    background-size: cover;
}
.icon-auxi {
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(../../static/icon/auxi.png);
    background-size: cover;
}
.icon-arrow {
    display: inline-block;
    width: 0.38rem;
    height: 0.6rem;
    background-image: url(../../static/icon/arrow.png);
    background-size: cover;  
}